/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
  /* typography */
  --title-font: "Montserrat", sans-serif;
  --body-font: "Poppins", sans-serif;

  --title-size: 50px;
  --card-title-size: 26px;
  --p-size: 18px;
  --text-small: 14px;
  --bold-color: rgb(99, 99, 99);
  --text-color: rgb(112, 112, 112);
  --text-light: rgba(158, 158, 158, 1);
  --text-error: rgb(255, 53, 53);
  --text-inverted: rgba(255, 255, 255, 1);
  --text-valid: rgb(54, 168, 149);

  --main-color: rgba(16, 33, 76, 1);
  --main-medium: rgba(135, 154, 200, 1);
  --main-light: rgba(191, 189, 212, 1);
  --accent-color: rgba(250, 37, 94, 1);
  --accent-color-light: rgba(250, 37, 94, 0.7);
  --warning-color-light: rgb(255, 251, 236);
  --body-color: rgba(244, 243, 249, 1);
  --body-alt-color: rgba(191, 189, 212, 0.5);
  --card-color: rgba(252, 252, 252, 1);
  --gradient: transparent
    linear-gradient(216deg, #ffffff 0%, #879ac8 26%, #10214c 75%, #fa255e 100%)
    0% 0% no-repeat padding-box;

  --btn-disabled: rgba(221, 222, 216, 1);
  --high-shadow: 0 4px 18px rgba(0, 0, 0, 0.16);
  --warning-high-shadow: 0 2px 6px rgba(207, 201, 163, 0.521);
  --low-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  --clicked-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
  --slide-selected: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;

  --desktop: 1200px;
  --laptop: 992px;
  --tablet-pro: 768px;
  --mobile: 576px;
}

body {
  background-color: var(--body-color);
  padding-top: 80px;
}

.main-color {
  background-color: var(--main-color);
}

.dark-bg {
  background-color: var(--body-alt-color) !important;
}

.warning-bg {
  background-color: var(--warning-color-light) !important;
}

b {
  color: #5c5c5c;
}

/* ---------------------------------- */
/* SPACING STYLINGS */
/* ---------------------------------- */
.section-margin {
  margin-bottom: 150px;
}

.card-title {
  font-size: 32px;
  color: var(--text-color);
  font-family: var(--title-font);
}

.card-margin {
  margin-bottom: 100px;
}

.alt-card-padding {
  padding: 30px 0;
}

/* ---------------------------------- */
/* TYPOGRAPHY STYLINGS */
/* ---------------------------------- */
.title {
  font-size: var(--title-size);
  font-family: var(--title-font);
}

h2,
h3 {
  color: var(--main-color);
  font-size: var(--card-title-size);
  font-family: var(--title-font);
}

h4 {
  color: var(--main-color);
  font-size: 23px;
  font-family: var(--title-font);
  font-weight: 700;
}

h5 {
  color: var(--main-color);
  font-size: 18px;
  font-family: var(--title-font);
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 4;
}

p,
ul,
li {
  font-family: var(--body-font);
  font-size: var(--p-size);
  color: var(--text-color);
  line-height: 30px;
}

strong {
  color: var(--bold-color);
}

.card-back-link {
  font-size: var(--p-size);
  font-family: var(--body-font);
  color: var(--accent-color);
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.card-back-link:hover {
  text-decoration: none;
  opacity: 0.9;
  left: 10px;
}

.back-link {
  font-size: var(--p-size);
  font-family: var(--body-font);
  color: var(--main-color);
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.card-back-link svg {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
.card-back-link:hover svg {
  margin-right: 10px !important;
}

.back-link:hover {
  color: var(--main-color);
  text-decoration: none;
  opacity: 0.9;
  left: 10px;
}

.back-link svg {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.back-link:hover svg {
  margin-right: 10px !important;
}

.back-link-inverted {
  font-size: var(--p-size);
  font-family: var(--body-font);
  color: var(--text-inverted);
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.back-link-inverted:hover {
  color: var(--text-inverted);
  text-decoration: none;
  opacity: 0.9;
  left: 10px;
}

.back-link-inverted svg {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.back-link-inverted:hover svg {
  margin-right: 10px !important;
}

.main-link {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  font-size: 20px;
  font-family: var(--title-font);
  color: var(--main-color);
  font-weight: 700;
}

.main-link-arrow {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  font-size: 20px;
  font-family: var(--title-font);
  color: var(--main-color);
  font-weight: 700;
}

.main-link-arrow:hover {
  text-decoration: none;
  color: var(--main-color);
  opacity: 0.8;
}

.blue-arrow-right {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  position: relative;
  opacity: 0;
  left: -15px;
}

.main-link-arrow:hover .blue-arrow-right {
  left: 0;
  opacity: 1;
}

.small {
  font-size: var(--text-small);
}

.inverted {
  color: var(--text-inverted);
}

.low-shadow {
  -webkit-box-shadow: var(--low-shadow);
  box-shadow: var(--low-shadow);
}

.high-shadow {
  -webkit-box-shadow: var(--high-shadow);
  box-shadow: var(--high-shadow);
}

.warning-high-shadow {
  -webkit-box-shadow: var(--warning-high-shadow);
  box-shadow: var(--warning-high-shadow);
}

/* ---------------------------------- */
/* BUTTONS SECTION STYLINGS */
/* ---------------------------------- */

button:focus {
  outline: none;
}

.btn {
  background: #ffffff;
  font-size: var(--p-size);
  font-family: var(--title-font);
  color: #3d3d3d;
  position: relative;
  padding: 14px 40px 14px 60px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
  overflow: hidden;
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.btn:hover.btn-primary,
.btn:hover.btn-secondary {
  background-position: right center;
}

.btn-primary.focus,
.btn-primary:focus,
.btn.focus,
.btn:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn-primary {
  background: -o-linear-gradient(
    15deg,
    var(--accent-color) 0%,
    hsl(344, 100%, 65%) 75%,
    var(--accent-color) 100%
  );
  background: linear-gradient(
    75deg,
    var(--accent-color) 0%,
    hsl(344, 100%, 65%) 75%,
    var(--accent-color) 100%
  );
  -webkit-box-shadow: 0px 2px 6px rgba(207, 22, 72, 0.35);
  box-shadow: 0px 2px 6px rgba(207, 22, 72, 0.35);
  background-size: 200% auto;
  color: #ffffff;
}

.btn-secondary {
  background: -o-linear-gradient(
    15deg,
    var(--main-color) 0%,
    rgb(27, 47, 99) 71%,
    var(--main-color) 100%
  );
  background: linear-gradient(
    75deg,
    var(--main-color) 0%,
    rgb(27, 47, 99) 71%,
    var(--main-color) 100%
  );
  -webkit-box-shadow: 0px 2px 6px rgba(16, 33, 76, 0.35);
  box-shadow: 0px 2px 6px rgba(16, 33, 76, 0.35);
  background-size: 200% auto;
  color: #ffffff;
}

.btn .btn-ripple {
  background: rgba(255, 187, 221, 0.35);
  position: absolute;
  border-radius: 100%;
  -webkit-animation: ripple 1s;
  animation: ripple 1s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.icon-btn > span {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  position: relative;
  left: 0;
}

.icon-btn:hover:not([disabled]) > span {
  left: -5px;
}

.center-btn-icon {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  position: relative;
  bottom: 1px;
  opacity: 0;
  left: -20px;
}

.icon-btn:hover:not([disabled]) > .center-btn-icon {
  left: 0;
  opacity: 1;
}

@-webkit-keyframes ripple {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

.send-form-btn:disabled {
  cursor: default;
}

.navbar-collapse button {
  display: none;
}

.session-row {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 30px;
}

.session-btn {
  background-color: var(--body-alt-color);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 14px 40px;
  opacity: 0.8;
}

.session-btn h4 {
  font-size: 20px;
}

.session-btn:hover {
  background-color: var(--main-light);
  opacity: 0.9;
}

.session-active {
  background-color: var(--main-light);
  opacity: 1;
}

.inverted-link {
  font-family: var(--body-font);
  font-size: var(--p-size);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.inverted-link:hover {
  color: var(--card-color);
}

/* ---------------------------------- */
/* FORM SECTION STYLINGS */
/* ---------------------------------- */
.group {
  position: relative;
  margin: 2.5em auto;
}
.group .small {
  padding: 3px 16px 0;
  color: var(--accent-color);
}
.group label {
  font-family: var(--body-font);
}

.label-small {
  color: var(--text-color);
  font-size: var(--text-small);
  opacity: 0.6;
}

input,
textarea {
  font-size: var(--p-size);
  font-family: var(--body-font);
  padding: 1.6em 0.625em 0.625em 16px;
  width: 100%;
  left: 16px;
  height: 56px;
  border: none;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: transparent;
}
textarea {
  min-height: 0;
  border-bottom: 1px solid var(--text-color);
  -webkit-transition: min-height 0.6s ease-in-out,
    border-bottom 0.8s ease-in-out;
  -o-transition: min-height 0.6s ease-in-out, border-bottom 0.8s ease-in-out;
  transition: min-height 0.6s ease-in-out, border-bottom 0.8s ease-in-out;
  max-height: 200px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
  min-height: 200px;
  border-bottom: 1px solid transparent;
}

/* LABEL ======================================= */
label {
  font-family: "Roboto";
  color: var(--text-color);
  font-size: var(--p-size);
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 16px;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: 0px;
  font-size: var(--text-small);
  color: var(--main-color);
}

textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  font-size: var(--text-small);
  color: var(--main-color);
}
/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--main-color);
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
  width: 50%;
  bottom: 5px;
}

.group .small {
  padding: 3px 0 0 16px;
}

.invalid-feedback {
  display: block;
  margin: 0;
}

.messages .alert-success {
  color: var(--main-color);
  background-color: var(--body-alt-color);
  border: 1px solid var(--body-alt-color);
  padding: 20px;
}

.messages .close {
  font-size: 1.8rem;
  line-height: 0.7;
  color: var(--accent-color);
  opacity: 0.75;
  transition: all 0.2s ease-out;
}

.messages .close:hover,
.close:not(:disabled):not(.disabled):hover {
  color: var(--accent-color);
  opacity: 1;
}

/* ---------------------------------- */
/* NAVBAR SECTION STYLINGS */
/* ---------------------------------- */
.navbar {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: var(--main-color);
}

.navbar-brand {
  margin-left: 80px;
}

.navbar-nav {
  margin-right: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item.active .nav-link {
  text-decoration: underline;
}

.affix .nav-item.active .nav-link {
  color: var(--accent-color);
}

.navbar-nav li,
.navbar-nav button,
.navbar-nav a {
  font-size: var(--p-size);
  margin-left: 20px;
}
.navbar-dark .navbar-nav .nav-link {
  font-family: var(--body-font);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.affix {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.alt-nav {
  background-color: var(--card-color);
  -webkit-box-shadow: var(--high-shadow);
  box-shadow: var(--high-shadow);
}

.alt-nav .nav-link {
  color: var(--main-color);
  font-family: var(--body-font);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* ---------------------------------- */
/* NAVBAR HAMBURGER MENU STYLINGS */
/* ---------------------------------- */

.hamb {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 50px;
  height: 60px;
  position: relative;
  margin: 0 20px 0 auto;
  display: none;
}

.hamb:hover span:nth-child(1),
.hamb:hover span:nth-child(2),
.hamb:hover span:nth-child(3) {
  cursor: pointer;
  background-color: var(--accent-color-light);
}

.hamb.active span:nth-child(1) {
  width: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 40%;
  background-color: var(--accent-color-light);
  left: 5px;
}

.hamb.active span:nth-child(2) {
  width: 30px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 40%;
  background-color: var(--accent-color-light);
  left: 5px;
}

.hamb.active span:nth-child(3) {
  width: 30px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 40%;
  background-color: var(--accent-color-light);
  left: 5px;
}

.hamb.active:hover span:nth-child(1),
.hamb.active:hover span:nth-child(2),
.hamb.active:hover span:nth-child(3) {
  background-color: var(--accent-color);
}

.icon-bar {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 30px;
  height: 3px;
  margin: 3px auto;
  left: 5px;
  position: absolute;
  display: block;
  top: 42%;
}

.icon-bar:nth-child(1) {
  width: 15px;
  left: 20px;
  top: 28%;
  background-color: var(--accent-color);
}

.icon-bar:nth-child(2) {
  width: 30px;
  top: 56%;
  background-color: var(--accent-color);
}

.icon-bar:nth-child(3) {
  width: 25px;
  left: 10px;
  background-color: var(--accent-color);
}

/* ---------------------------------- */
/* HEADER SECTIONS STYLINGS */
/* ---------------------------------- */
header {
  width: 100%;
  height: 500px;
}

header .row {
  height: inherit;
}

/* HEADER LOADING ANIMATION */
.parallax {
  position: absolute;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
  padding-top: 150px;
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
}

/* TITLE TEXT ANIMATION */
.parallax .container {
  top: 24px;
  opacity: 0;
  -webkit-transition: top 0.6s ease-out 0.1s, opacity 0.4s ease-in 0.2s;
  -o-transition: top 0.6s ease-out 0.1s, opacity 0.4s ease-in 0.2s;
  transition: top 0.6s ease-out 0.1s, opacity 0.4s ease-in 0.2s;
}

/* TOP CARD CONTAINER LOAD ANIMATION */
.section-load {
  position: relative;
  top: 10px;
  -webkit-transition: top 0.4s ease-out 0.1s;
  -o-transition: top 0.4s ease-out 0.1s;
  transition: top 0.4s ease-out 0.1s;
}

/* CARD TEXT LOAD ANIMATION */
.section-load .card .row {
  opacity: 0;
  -webkit-transform: translateY(24px);
  -ms-transform: translateY(24px);
  transform: translateY(24px);
  -webkit-transition: opacity 0.4s ease-in 0.2s,
    -webkit-transform 0.6s ease-out 0.1s;
  transition: opacity 0.4s ease-in 0.2s, -webkit-transform 0.6s ease-out 0.1s;
  -o-transition: transform 0.6s ease-out 0.1s, opacity 0.4s ease-in 0.2s;
  transition: transform 0.6s ease-out 0.1s, opacity 0.4s ease-in 0.2s;
  transition: transform 0.6s ease-out 0.1s, opacity 0.4s ease-in 0.2s,
    -webkit-transform 0.6s ease-out 0.1s;
}

.home-header {
  background-image: url("assets/images/header/home-header.jpg");
}

.about-header {
  background-image: url("assets/images/header/about-header.jpg");
}
.courses-header {
  background-image: url("assets/images/header/courses-header.jpg");
}

.courses1-header {
  background-image: url("assets/images/header/courses1-header.jpg");
}

.courses2-header {
  background-image: url("assets/images/header/courses2-header.jpg");
}

.contact-header {
  background-image: url("assets/images/header/contact-header.jpg");
}

.privacy-header {
  background-image: url("assets/images/header/privacy-header.jpg");
}

/* ---------------------------------- */
/* CARDS STYLINGS */
/* ---------------------------------- */

.card {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: var(--card-color);
  border: none;
}

.inner-card {
  position: relative;
  width: 100%;
  padding: 38px 40px 38px 10px;
}

.inner-card-alt {
  position: relative;
  width: 100%;
  padding: 38px 10px 38px 40px;
}

.card-blurb-container {
  -webkit-transition: max-height 0.8s cubic-bezier(0, 0.75, 0, 1);
  -o-transition: max-height 0.8s cubic-bezier(0, 0.75, 0, 1);
  transition: max-height 0.8s cubic-bezier(0, 0.75, 0, 1);
  overflow: hidden;
  max-height: 180px;
}

.picture-card-right:hover .card-blurb-more,
.picture-card-left:hover .card-blurb-more,
.picture-card-right:hover .card-blurb-less,
.picture-card-left:hover .card-blurb-less {
  opacity: 1;
}

.picture-card-right:hover .read-more-icon,
.picture-card-left:hover .read-more-icon {
  left: 0;
  opacity: 1;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.read-more-icon {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  position: relative;
  bottom: 1px;
  opacity: 0;
  left: -20px;
  color: var(--main-color);
  opacity: 0;
}

.read-more {
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  font-size: var(--p-size);
  color: var(--main-color);
  cursor: pointer;
  opacity: 0.6;
}

.text-fader {
  bottom: -20px;
  left: 0;
  right: 0;
  height: 140px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(20%, var(--card-color)),
    to(rgba(255, 255, 255, 0))
  );
  background: -o-linear-gradient(
    bottom,
    var(--card-color) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    var(--card-color) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}

.picture-card-left:hover .text-fader,
.picture-card-right:hover .text-fader {
  height: 100px;
}

.picture-card-top {
  position: relative;
  width: 100%;
  background-color: var(--card-color);
  border: none;
  -webkit-box-shadow: var(--low-shadow);
  box-shadow: var(--low-shadow);
}

.picture-card-top:hover {
  cursor: pointer;
  -webkit-box-shadow: var(--high-shadow);
  box-shadow: var(--high-shadow);
}

.picture-card-top:hover .blue-arrow-right {
  opacity: 1;
  left: 5px;
}

.picture-card-top .card {
  padding: 30px;
}

.picture-card-left {
  position: relative;
  width: 100%;
  background-color: var(--card-color);
  border: none;
  -webkit-box-shadow: var(--high-shadow);
  box-shadow: var(--high-shadow);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.picture-card-right {
  position: relative;
  width: 100%;
  background-color: var(--card-color);
  border: none;
  -webkit-box-shadow: var(--high-shadow);
  box-shadow: var(--high-shadow);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.picture-card-top:hover .img-layer,
.picture-card-left:hover .img-layer,
.picture-card-right:hover .img-layer {
  opacity: 0.5;
}

.picture-card-top img {
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.picture-card-left img {
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.picture-card-right img {
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.picture-card-top:hover img,
.picture-card-left:hover img,
.picture-card-right:hover img {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.img-container {
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.picture-card-top .img-container {
  max-height: 150px;
}

.picture-card-top .card-image {
  width: 100%;
  top: -300px;
  position: relative;
}

.picture-card-top .card-image:nth-child(2) {
  top: -200px;
}
.img-layer {
  position: absolute;
  width: 101%;
  height: 101%;
  background: var(--gradient);
  mix-blend-mode: screen;
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* FALLBACK FOR IE AND EDGE AS MIX-BLEND-MODE COULD NOT WORK */
@supports (-ms-ime-align: auto) {
  .img-layer {
    background: var(--gradient);
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    width: 100%;
  }
  .img-layer:after {
    content: "";
    background: rgba(153, 171, 255, 0.541);
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.8;
    width: 100%;
  }
  .picture-card-top:hover .img-layer,
  .picture-card-left:hover .img-layer,
  .picture-card-right:hover .img-layer {
    opacity: 0.2;
  }
  .picture-card-top:hover
    .img-layer:after
    .picture-card-left:hover
    .img-layer:after,
  .picture-card-right:hover .img-layer:after {
    opacity: 0.2;
  }
}

.blue-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  mix-blend-mode: multiply;
  z-index: 1;
  opacity: 0.6;
}

.p-bar {
  width: 70px;
  height: 5px;
  position: relative;
  background-color: var(--accent-color);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.svg-right {
  background-image: url(assets/svg/product_manager.svg);
  width: 420px;
  height: 382px;
  position: absolute;
}

.svg-right-about {
  background-image: url(assets/svg/mind-map.svg);
  width: 386px;
  height: 360px;
  top: 80px;
  position: absolute;
}

.svg-right-contact {
  background-image: url(assets/svg/support.svg);
  width: 431px;
  height: 373px;
  top: 80px;
  position: absolute;
}

.svg-left {
  background-image: url(assets/svg/growing_up.svg);
  width: 347px;
  height: 399px;
  position: absolute;
  top: 60px;
  left: -90px;
}

.svg-left-about {
  background-image: url(assets/svg/team-idea.svg);
  width: 362px;
  height: 308px;
  position: absolute;
  top: 100px;
  left: -90px;
}

.blue-dots-left {
  background-image: url("assets/svg/blue-dots.svg");
  height: 215px;
  width: 49px;
  position: absolute;
  top: 65px;
  left: -60px;
}

.blue-dots-right-alt {
  background-image: url("assets/svg/blue-dots.svg");
  height: 215px;
  width: 49px;
  position: absolute;
  top: 65px;
  right: -60px;
}

.red-dots-left {
  background-image: url("assets/svg/red-dots.svg");
  height: 215px;
  width: 49px;
  position: absolute;
  top: 65px;
  left: -60px;
}

.red-dots-left-alt {
  background-image: url("assets/svg/red-dots.svg");
  height: 215px;
  width: 215px;
  position: absolute;
  bottom: -76px;
  z-index: -1;
  left: -60px;
}

.red-dots-right {
  background-image: url("assets/svg/red-dots.svg");
  height: 215px;
  width: 215px;
  position: absolute;
  bottom: -75px;
  z-index: -1;
  right: -80px;
}

.blue-dots-right {
  background-image: url("assets/svg/blue-dots.svg");
  height: 215px;
  width: 215px;
  position: absolute;
  bottom: -75px;
  z-index: -1;
  right: -80px;
}

/* ---------------------------------- */
/* HOMEPAGE ASIDE SECTION STYLINGS */
/* ---------------------------------- */
.aside-content {
  background-color: var(--main-color);
}

/* ---------------------------------- */
/* GET IN TOUCH SECTION STYLINGS */
/* ---------------------------------- */
.blue-banner {
  height: 380px;
  width: 100%;
  background-color: var(--main-color);
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.blue-banner::after {
  content: "";
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -48px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* ---------------------------------- */
/* TESTIMONIAL SECTION STYLINGS */
/* ---------------------------------- */

#testimonial h3 {
  color: var(--accent-color);
}

.test-border {
  border: 1px solid var(--main-medium);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  -webkit-transition: all 0.2s ease-out 0.2s;
  -o-transition: all 0.2s ease-out 0.2s;
  transition: all 0.2s ease-out 0.2s;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.test-card {
  opacity: 0.25;
  max-width: 760px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: var(--low-shadow);
  box-shadow: var(--low-shadow);
  background-color: var(--card-color);
}

.test-card .small {
  font-family: var(--title-font);
  color: var(--text-color);
  opacity: 0.75;
}

/* OWL CAROUSEL OVERRIDING STYLES */
.owl-carousel .owl-item img {
  width: inherit;
}

.owl-theme .owl-dots .owl-dot span {
  background: var(--main-color);
  width: 40px;
  height: 3px;
  opacity: 0.4;
  margin: 40px 20px 40px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.owl-stage {
  margin-bottom: 20px;
}

.owl-theme .owl-dots .owl-dot.active span {
  opacity: 1;
  background-color: var(--accent-color);
}

.owl-carousel .owl-dots.disabled {
  display: block;
}

.owl-item.center .test-card {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: var(--high-shadow);
  box-shadow: var(--high-shadow);
}

.owl-item.center .test-border {
  border: 2px solid var(--accent-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1280px) {
  :root {
    /* typography */
    --title-size: 50px;
    --card-title-size: 24px;
    --p-size: 16px;
    --text-small: 14px;
  }
  .container {
    max-width: 1000px;
  }
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    margin-right: 20px;
  }
  .navbar-nav li {
    margin-left: 20px;
  }
  .card {
    padding: 40px 20px 20px;
  }
  .inner-card {
    padding: 30px 20px 20px 0px;
  }
  .inner-card-alt {
    padding: 30px 0px 20px 20px;
  }
  .red-dots-right,
  .blue-dots-right {
    right: 0;
  }
  .svg-right {
    width: 380px;
    right: -40px;
  }
  .blue-dots-left,
  .red-dots-left {
    left: 85px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -100px;
  }
  .blue-dots-right-alt {
    right: 100px;
    z-index: -1;
    top: -100px;
    -webkit-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
  }
  .owl-item.center .test-card {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@media screen and (max-width: 992px) {
}

/* TABLET SIZE QUERIES */
@media screen and (max-width: 768px) {
  .inner-card,
  .card {
    padding: 40px 20px 20px;
  }
  .navbar-collapse button {
    display: none;
  }
  .inner-card-alt {
    padding: 40px 20px 20px;
  }
  .img-container {
    max-height: 300px;
  }
  .card-image {
    width: 100%;
    top: -300px;
    position: relative;
  }
  .session-row {
    left: 30px;
  }

  .session-btn {
    padding: 14px 0;
  }

  .session-btn h4 {
    font-size: var(--p-size);
  }
  #home-first-card {
    top: 30px !important;
  }
}

/* MOBILE SIZE QUERIES */
@media screen and (max-width: 576px) {
  :root {
    /* typography */
    --title-size: 30px;
    --card-title-size: 22px;
    --p-size: 16px;
    --text-small: 14px;
  }
  
  .hamb {
    display: block;
  }
  .img-container {
    max-height: 260px;
  }
  .card-image {
    width: 100%;
    top: -140px;
    position: relative;
  }
  .navbar-nav {
    margin: 0 auto;
  }
  .navbar-nav li {
    margin-left: 0;
  }
  .navbar-nav a {
    margin: 6px auto;
  }
  .navbar-nav button {
    margin: 20px auto 40px;
  }
  #aside { 
    height: auto !important;
  }
  .aside-content .inner-card {
    padding-bottom: 40px;
  }
  .blue-banner {
    height: 300px;
  }
  .blue-banner::after {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: -32px;
  }
  .btn {
    padding: 14px 20px 14px 40px;
  }
  .second-card {
    margin-top: 300px;
  }
}
